@charset "utf-8";
/* CSS Document */

#fecha {
    color: #30FFD7;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
}
body {
    background-image: url('https://images.freeimages.com/vhq/images/previews/487/abstract-texture-blue-background-vector-74330.jpg' );
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	   border-width: thick;
    border-style: solid;
	}

h1 {
    text-decoration: underline;
    color: #FF7E00;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 50px
}
h2 {
    font-size: 40px;
    color: #FF0047;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-decoration: underline;
}
h3 {
    font-size: 35px;
    color: #DAFF00;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


#coc {

	max-width:100%;
}
#elect {

	max-width:100%;
}
#mel {
    width: auto;
    height: auto;	
}
#plas {
	 width: auto;
    height: auto;	
}
#dor {
    width: 479px;
    height: 319px;
}

button {
    font-size: 25px;
    color: #FF2C00;
    background-color: #A8FF6C;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-width: 5px;
    border-color: #EC324F;
}

